* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.h1 {
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    flex: content;
    background-color: #371b58;
}

nav ul {
    text-align: center;
    margin: 12px;
    color: white;
}

nav li {
    display: inline-block;
    font-size: 20px;
    padding: 0px 23px;
    font-family: sans-serif;
}

nav p {
    display: inline-block;
    padding: 0px 50px;
}

.information-part {
    height: 120px;
    display: flex;
    padding: 23px 0px;
    justify-content: space-between;
    background-color: white;
}

.information-part div h1 {
    font-size: 40px;
    color: #371b58;
}

.information-part div p {
    font-size: 22px;
}

.margin-left {
    margin-left: 292px;
}

.margin-right {
    margin-right: 300px;
}

#call-us {
    display: flex;
    margin: 8px 0px;
    cursor: pointer;
}

.info-p {
    padding: 0px 52px 0px 18px;
}

#info-num {
    font-weight: bolder;
    color: #371b58;
}


#big-image {
    width: 100%;
}


.offer-part {
    margin-top: -5px;
    background-color: #371b58;
}


.offer-header {
    padding-top: 89px;
    color: white;
    padding-bottom: 38px;
}

.offer-header h1 {
    font-size: 48.5px;
}

.offer-header p {
    font-size: 18.4px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card-container {
    position: relative;
    margin-bottom: 79px;
}

.card-container button {
    position: absolute;
    left: 100px;
    bottom: 222px;
    padding: 8px 21px;
    color: white;
    background-color: #371b58;
    border: none;
    cursor: pointer;
}

.card-container img {
    width: 306px;
}

.welcome-part {
    background-color: white;
    text-align: center;
}

.welcome-part .welcome-p {
    font-size: 25px;
    padding-top: 109px;
    font-family: system-ui;
}

.welcome-part h1 {
    font-size: 50px;
    color: #371b58;
}

.welcome-part h2 {
    font-size: 50px;
}

.welcome-part .welcome-description {
    font-size: 18px;
    padding-bottom: 109px;
    padding-top: 34px;
}

.contact-part {
    background-color: #371b58;
    color: white;
    padding: 63px 0px;
}

.contact-logo {
    display: flex;
}

.contact-touch {
    text-align: center;
}

.contact-touch p {
    font-size: 25px;
}

.contact-touch h1 {
    font-size: 50px;
    padding-bottom: 42px;
}

.contact-bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#map-image {
    width: 100%;
}

#footer {
    margin-top: -4px;
}